* {box-sizing: border-box}
html{
    border: 9px #592C12 solid;
    height: 100vh;
}
body {
    background-color: #BF9B6F;
  }
#login{
    width: 200px;
    margin: 0px auto;
    
}
#a{
    text-align: center;
}
.asd{font-size: 14px}
#Bejelentkezés{margin-top: 10px;}
