<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eredménytábla</title>
    <link rel="stylesheet" type="text/css" href="Kerdes_Valasz.css">
    <link rel="stylesheet" type="text/css" href="Leaderboard.css">
    <script src="Leaderboard.js"></script>
</head> -->


    <div id="body">
         <div id="left"></div>
        <div id="right"></div>
        <div id="top"></div>
        <div id="bottom"></div>
        <div>
            <div class="text">
                <h1>Eredménytábla</h1>
                <h2>A legjobb 10 játékos pontszámai</h2>
    
            </div>
            <div class="table">
                <table>
                    <thead>
                        <th></th>
                        <th>Név</th>
                        <th>Pontszám</th>
                    </thead>
                    <tbody id="top10">
                        <tr *ngFor="let user of lb" >
                            <td [ngClass]="{'playerTable' : user.id === ID}"></td>
                            <td [ngClass]="{'playerTable' : user.id === ID}">{{user.name}}</td>
                            <td [ngClass]="{'playerTable' : user.id === ID}">{{user.score}}</td>
                        </tr>
    
                    </tbody>
                </table>
    
            </div>
    </div>
        <div id="player" >Saját pontszámod:  {{player.score}}</div> 
        <div id="links">
            <a ng-click="reloadRoute()">Továbblépés</a>
            <a href=".\Kerdes_Valasz.html">Újrapróbálás</a>
        </div>
    


