<!--The content below is only a placeholder and can be replaced.-->



<body>
  <h1 class="page-title">Memóriajáték</h1>
  <div class="overlay-text visible">
    Játék indítása
  </div>
  <div id="game-over-text" class="overlay-text">
    JÁTÉK VÉGE
    <span class="overlay-text-small">ÚJRA</span>
  </div>
  <div id="victory-text" class="overlay-text">
    GYŐZELEM
    <span class="overlay-text-small">ÚJRA</span>
  </div>

  <div class="game-container">
    <div class="game-info-container">
      <div class="game-info">
        Idő: <span id="time-remaining">100</span>
      </div>
      <div class="game-info">
        Forgatás: <span id="flips">0</span>
      </div>
    </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="http://kep.cdn.index.hu/1/0/840/8401/84019/8401991_2b4a620a205a88a78602b66514b7163c_wm.jpg">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="http://kep.cdn.index.hu/1/0/840/8401/84019/8401991_2b4a620a205a88a78602b66514b7163c_wm.jpg">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="https://vignette4.wikia.nocookie.net/hearthstone/images/0/0e/Magic_of_Dalaran_card_back.jpg/revision/latest?cb=20170710183616">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="https://vignette4.wikia.nocookie.net/hearthstone/images/0/0e/Magic_of_Dalaran_card_back.jpg/revision/latest?cb=20170710183616">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src/assets/Images/caardback.jpg">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/cube.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="https://www.clipartmax.com/png/small/22-227562_anchor-icon-ship-hook.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="https://www.clipartmax.com/png/small/22-227562_anchor-icon-ship-hook.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/bicycle.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="assets/Images/cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/diamond.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\assets\Images\car.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src\assets\Images\car.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="car.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/leat.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="https://drive.google.com/file/d/1fhKrD9fWq_T6b9yw-seQvnIMu5DkeFXY/view">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/cube.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/bicycle.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/diamond.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/bug.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/car.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/anchor.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/bug.png">
    </div>
  </div>
  <div class="card">
    <div class="card-back card-face">
    <img class="cardback" 
    src="src\app\src\assets\Images\cardback.png">
    </div>
    <div class="card-front card-face">
    <img class="card-value" 
    src="src/assets/Images/car.png">
    </div>
  </div>
</div>
</body>



<router-outlet></router-outlet>
