circle{
  stroke-dasharray: 500px;
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #D9042B;
  fill: none;
  animation: countdown 30s linear 1;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 500px;
  }
}
